body{
margin:0;
font-family:Arial;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background-image:url("https://images.unsplash.com/photo-1504674900247-0877df9cc836");
background-size:cover;
}

.login-box{
background:white;
padding:30px;
border-radius:10px;
text-align:center;
width:250px;
}

input{
width:90%;
padding:10px;
margin:10px 0;
border:1px solid #ccc;
border-radius:5px;
}

button{
width:100%;
padding:10px;
background:green;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

a{
text-decoration:none;
color:red;
}