body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;

  /* BACKGROUND IMAGE */
  background: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #ff4d4d, #ff1a1a);
  color: white;
  padding: 15px 25px;
}

.cart-btn {
  background: white;
  color: #ff1a1a;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
}

/* MENU */
.menu {
  display: flex;
  gap: 25px;
  padding: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

/* CARD */
.card {
  background: rgba(255, 255, 255, 0.9); /* glass effect */
  backdrop-filter: blur(6px);
  width: 260px;
  padding: 15px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.card button {
  background: linear-gradient(to right, #28a745, #218838);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 8px;
  width: 100%;
}
