body {
    font-family: Arial;
    text-align: center;
    background: #f5f5f5;
}

h1 {
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 150px;
    box-shadow: 0 0 10px gray;
}

button {
    padding: 8px 12px;
    border: none;
    background: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: darkgreen;
}